html {
  background: rgb(244, 248, 249);
  font-family: helvetica;
}

body {
  background: rgb(255, 255, 255);
  margin: 10px 15px;
  border: 2px solid rgb(225, 232, 237);
  border-radius: 20px;
  padding-bottom: 20px;
}

.image {
  width: 15px;
  margin-right: 10px;
}

.profname{
  font-size: 32px;
  font-weight: bold;
  color: black;
}

.clearing {
  font-size: 32px;
  line-height: 1.5;
  clear: both;
  margin-left: 40px;
}

.date {
  color: rgb(101, 116, 127);
}

.username{
  margin-top: 40px;
  float: right;
  margin-right: 130px;
}

h1 {
  margin-right: 60px;
  margin-top: 40px;
}

.follow {
  float: right;
  width: 50px;
}

.user {
  width: 31%;
}

.validated {
  margin-left: 5px;
  width: 35px;
}

h2 {
  margin-left: 40px;
  line-height: 1.5;
}

.profpic {
  width: 80px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 20%;
}

.user {
  font-size: 32px;
  color: rgb(104, 109, 129);
}

button {
  border: rgb(225, 232, 237);
  background: rgb(255, 255, 255);
  float: right;
  height: 80px;
  width: 240px;
  margin-top: 40px;
  margin-right: 40px;
  border-radius: 20px;
  border: 2px solid #3AA9F3;
}

.tweet {
  float: left;
  margin-left: 30px;
  width: 40px;
}

.follow {
  color: #3AA9F3;
  font-weight: bold;
  font-size: 32px;
  margin-right: 90px;
}

.bottom {
  font-size: 32px;
  margin-left: 5px;
  color: rgb(105, 120, 130);
}

.reply {
  width: 32px;
  margin-left: 40px;
}

.retweet {
  width: 32px;
  margin-left: 32px;
}

.favorite {
  width: 32px;
  margin-left: 32px;
}
